bin
*.config
*.creator
*.files
*.includes
.deps
*.user

*.tar.gz

src/fastpeercoin-cli
src/fastpeercoind

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/bitcoin-config.h
src/bitcoin-config.h.in
src/stamp-h1

src/leveldb/.deps/

.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ppcoin
.peercoin
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

# Compilation and Qt preprocessor part
*.qm
Makefile
ppcoin-qt
peercoin-qt
PPCoin-Qt.app
Peercoin-Qt.app
.qmake.stash
peercoin-qt_plugin_import.cpp

# Unit-tests
Makefile.test
ppcoin-qt_test
peercoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# mingw / Windows
release/
*.Debug
*.Release
#lcov
*.gcno
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build

!src/leveldb-*/Makefile
peercoin-qt

#db4/
db4/

#ignore in top level directory only
/debian

src/config/
src/secp256k1/
